@media (max-width: 620px) {
    .topicos-slider {
        padding: 0 15px;
        gap: 10px;
    }

    .seta {
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lista-topicos {
        height: 480px;
    }

    .card .euImagem {
        max-height: 230px;
    }

    .descricao {
        font-size: 14px;    
    }
}